@model IEnumerable<WebApplicationMGOFinal.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Calendario")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayName("Nombre")
		</th>
		<th>
			@Html.DisplayName("Apellido")
		</th>
		<th>
			@Html.DisplayName("Teléfono")
		</th>
		<th>
			@Html.DisplayName("E-mail")
		</th>
		<th>
			@Html.DisplayName("Personas")
		</th>
		<th>
			@Html.DisplayName("Institución")
		</th>


		<th>
			@Html.DisplayName("Fecha Inicio")
		</th>
		<th>
			@Html.DisplayName("Fecha Fin")
		</th>
		<th>
			@Html.DisplayName("Estado de Reserva")
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.NombreCliente)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.ApellidoCliente)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.TelefonoCliente)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CorreoCliente)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.NumeroPersonas)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.InstitucionCliente)
		</td>


		<td>
			@Html.DisplayFor(modelItem => item.FechaInicio)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.FechaFin)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.EstadoReserva)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { IdReserva = item.IdReserva }) |
			@Html.ActionLink("Details", "Details", new { IdReserva = item.IdReserva }) |
			@Html.ActionLink("Delete", "Delete", new { IdReserva = item.IdReserva })
		</td>
	</tr>
}

</table>
